
cves/output_with_embeddings.json
cve_embed/cve_descr.json
cve_embed/output_with_embeddings.pkl
Sota\Threats_2_MITRE_AI_Mapper
# Ignore all .json files matching the years 1999-2024 in any path
**/*1999.json
**/*2000.json
**/*2001.json
**/*2002.json
**/*2003.json
**/*2004.json
**/*2005.json
**/*2006.json
**/*2007.json
**/*2008.json
**/*2009.json
**/*2010.json
**/*2011.json
**/*2012.json
**/*2013.json
**/*2014.json
**/*2015.json
**/*2016.json
**/*2017.json
**/*2018.json
**/*2019.json
**/*2020.json
**/*2021.json
**/*2022.json
**/*2023.json
**/*2024.json

C:/Users/SimonettoS/OneDrive - University of Twente/Bureaublad/CWE-TTPs/cwe-ttps/cves/cve_list/*.json
